@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme  {
    --color-brand-light: #F5F5F5;
}
   
@layer utilities {
    /* Remove a barra de rolagem mantendo a funcionalidade de scroll */
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }
    .scrollbar-none {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}